.profile-info {
    display: flex;
    border-bottom: 1px solid #f3e6e6;
    justify-content: space-between;

    .author-info {
        display: flex;
        padding: 30px 0px;
        width: 50%;
        .author-profile {
            // margin-top: 10px;
            img {
                width: 80px;
                height: 80px;
                border-radius: 10px;
            }
        }
        .author-details {
            display: flex;
            flex-direction: column;
            .author {
                font-size: 13px;
                font-weight: 600;
                letter-spacing: 2px;
                color: #9696dc;
                // margin-top: 15px;
                margin-left: 15px;
                cursor: pointer;
                a {
                    text-decoration: none;
                }
            }
            .author-description {
                // color: black;
                font-size: 13px;
                margin-top: 0px;
                margin-top: 5px;
                font-weight: 200;
                margin-left: 15px;
                width: 400px;
                text-align: justify;
                word-spacing: 0px;
            }
        }
    }

    .share-icons {
        display: flex;
        height: 20%;
        margin-top: 40px;

        .icon-hide {
            width: 0px;
            overflow: hidden;
        }
        .share {
            cursor: pointer;
            font-size: 15px;
            letter-spacing: 2px;
            padding-top: 15px;
            margin-left: 10px;
            border: 1px solid #f3e6e6;
            padding-left: 15px;
            padding-right: 15px;
            color: #656060;
            .share-text {
                margin-left: 10px;
                font-weight: 600;
            }
        }
    }

    .author-share {
        display: flex;
        height: 50px;
        // margin-top: 30px;
        .icons {
            cursor: pointer;
            padding-top: 10px;
            padding-right: 20px;
            padding-bottom: 10px;
            padding-left: 20px;
            border: 1px solid #f7ebeb;
            color: #52b1b1;
            i {
                font-size: 25px;
                transition: 300ms;
            }
            .fa-twitter {
                color: #1da1f2;
            }
            .fa-facebook-f {
                color: #3b5998;
            }
            .fa-linkedin-in {
                color: #0077b5;
            }

            .fa-pinterest-square {
                color: #e60023;
            }

            .fa-whatsapp {
                color: #075e54;
            }
            i:hover {
                transform: scale(1.5);
            }
        }
    }
}
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
    .profile-info {
    }
    .author-info {
        .author-details {
            .author-description {
                width: 350px !important;
                word-spacing: 0px;
                font-size: 13px !important;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .profile-info {
    }
    .author-info {
        .author-details {
            .author-description {
                width: 300px !important;
                word-spacing: 0px;
                font-size: 13px !important;
            }
        }
    }
}

@media screen and (max-width: 840px) {
    .profile-info {
        flex-direction: column;
        .share-icons {
            margin: 0 auto;
            margin-top: 15px;
            margin-bottom: 15px;
            .share {
                margin-left: 0px;
            }
        }
    }
    .author-info {
        .author-details {
            .author-description {
                width: 350px !important;
                word-spacing: 0px;
                font-size: 13px !important;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .profile-info {
        flex-direction: column;
        .share-icons {
            margin: 0 auto;
            // margin-top: 15px;
            margin-bottom: 15px;
            .share {
                margin-left: 0px;
            }
        }
    }
    .author-info {
        .author-details {
            .author-description {
                width: 350px !important;
                word-spacing: 0px;
                font-size: 13px !important;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .profile-info {
        flex-direction: column;
        .share-icons {
            margin: 0 auto;
            // margin-top: 15px;
            margin-bottom: 15px;
            .share {
                margin-left: 0px;
            }
        }
    }
    .author-info {
        .author-details {
            .author-description {
                width: 350px !important;
                word-spacing: 0px;
                font-size: 13px !important;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .profile-info {
        flex-direction: column;
        .author-share {
            .icons {
                padding-right: 15px;
                padding-left: 15px;
                // border: none;
            }
            // justify-content: space-between;
            // width: 100%;
            // border: none;
        }
        .share-icons {
            margin: 0 auto;
            // margin-top: 20px;
            margin-bottom: 20px;
            .share {
                margin-left: 0px;
                padding-left: 15px;
                padding-right: 15px;
                // border: none;
            }
        }
    }
    .author-info {
        .author-details {
            .author-description {
                width: 200px !important;
                word-spacing: 0px;
                font-size: 12px !important;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    // .author-share {
    //     .icons {
    //         // cursor: pointer;
    //         // padding-top: 10px;
    //         padding-right: 15px;
    //         // padding-bottom: 10px;
    //         padding-left: 17px;
    //         // border: 1px solid #1d1e1f;
    //         // color: #52b1b1;
    //     }
    // }
    // .share-icons {
    //     display: flex;
    //     height: 0%;
    //     margin-top: 0px;
    //     justify-content: center;
    //     padding-bottom: 10px;
    // }
    .profile-info {
        flex-direction: column;
        .author-share {
            .icons {
                padding-right: 15px;
                padding-left: 15px;
                // border: none;
            }
            // justify-content: space-between;
            // width: 100%;
            // border: none;
        }
        .share-icons {
            margin: 0 auto;
            margin-top: 0px;
            margin-bottom: 20px;
            .share {
                margin-left: 0px;
                padding-left: 5px;
                padding-right: 5px;
                // border: none;
            }
        }
    }
    .author-info {
        
        .author-details {
            .author-description {
                width: 170px !important;
                word-spacing: 0px;
                font-size: 11px !important;
            }
        }
    }

}
