<div class="profile-info">
    <div class="author-info">
        <div class="author-profile">
            <img src="https://pbs.twimg.com/profile_images/1086672507023867904/jLFOl73d_400x400.jpg"
                alt="Sachin Mishra" />
        </div>
        <div class="author-details">
            <span class="author">
                <a href="https://sm-cka.surge.sh" target="_blank">Sachin Mishra</a>
            </span>
            <span class="author-description">
                Sachin Mishra is a Full Stack Developer who has consulted on large-scale projects in fields ranging from
                education and publishing to finance.
            </span>
        </div>
    </div>
    <div class="share-icons">
        <div class="author-share">
            <div class="icons" (click)="shareApplication('twitter')"><i class="fab fa-twitter"></i></div>
            <div class="icons" (click)="shareApplication('facebook')"><i class="fab fa-facebook-f"></i></div>
            <div class="icons" (click)="shareApplication('linkedin')"><i class="fab fa-linkedin-in"></i></div>
            <div class="icons" (click)="shareApplication('pinterest')"><i class="fab fa-pinterest-square"></i></div>
            <div class="icons" (click)="shareApplication('whatsapp')"><i class="fab fa-whatsapp"></i></div>
        </div>
    </div>
</div>